src/cblas.h
src/clapack.h
check/*.err
check/*.out
check/*.set
check/*.eval
check/*.meta
check/*.res
check/*.tex
check/*.pav
check/*.tmp
check/check*old*
check/results
test_mac/
.*.swp
!settings/
gmon.out
settings/no_presolve.set
!*.log
